[project]
name = "credit-ml-basics"
version = "0.1.0"
description = "Simple ML benchmark on credit default prediction"
requires-python = ">=3.10"

dependencies = [
    "pandas",
    "numpy",
    "scikit-learn",
    "matplotlib",
    "seaborn",
]

[dependency-groups]
dev = [
    "jupyterlab",
]
